.login_form {
  background: #fff;
  width: 500px;
  margin: 65px auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}
.authButton {
  height: 50px;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.login_form h1 {
  padding: 35px 35px 0 35px;
  font-weight: 300;
}
.login_form .content {
  padding: 35px;
  text-align: center;
}
.login_form .input_field {
  padding: 12px 5px;
}
.login_form .input_field input {
  font-size: 16px;
  display: block;
  font-family: "Rubik", sans-serif;
  width: 100%;
  padding: 10px 1px;
  border: 0;
  border-bottom: 1px solid #747474;
  outline: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.login_form .input_field input::-webkit-input-placeholder {
  text-transform: uppercase;
}
.login_form .input_field input::-moz-placeholder {
  text-transform: uppercase;
}
.login_form .input_field input:-ms-input-placeholder {
  text-transform: uppercase;
}
.login_form .input_field input::-ms-input-placeholder {
  text-transform: uppercase;
}
.login_form .input_field input::placeholder {
  text-transform: uppercase;
}
.login_form .input_field input:focus {
  border-color: #222;
}
.login_form a.link {
  text-decoration: none;
  color: #747474;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 20px;
}
.login_form .action {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
}
.login_form .action button {
  width: 100%;
  border: none;
  padding: 18px;
  font-family: "Rubik", sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  background: #e8e9ec;
  color: #777;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
  letter-spacing: 0.2px;
  outline: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.login_form .action button:hover {
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  color: white;
}
.login_form .action button:nth-child(2) {
  background: #2d3b55;
  color: #fff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 4px;
}
.login_form .action button:nth-child(2):hover {
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.body {
  margin-top: 15px;
  height: 100vh;
  display: flex;
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #e9f4ff;
  align-items: center;
}
@media screen and (max-width: 584px) {
  .body {
    width: 130vw;
    height: 120vh;
    display: flex;
    flex-direction: column;
  }
  .authButton {
    width: 160px;
    background: #2d3b55;
  }
  .authM {
    text-transform: capitalize;
  }
}
