@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
.body {
  margin-top: 30px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.image {
  width: 200px;
  height: 200px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}
.left_side {
  width: 500px;
  min-width: 300px;
  border-radius: 2px solid black;
  /* background-color: rgb(255, 255, 255);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}
.left_box {
  display: flex;
  flex-direction: column;
}
.name,
.email,
.phoneNumber,
.gender,
.nominee {
  margin: 5px;
  text-transform: capitalize;
}
.form {
  width: 300px;
  margin-left: 10px;
  margin-right: 100px;
}
.form .user-details .input_box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
.form .input_box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 5px;
}
.user_details .input_box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user_details .input_box input:focus,
.user_details .input_box input:valid {
  border-color: #9b59b6;
}
.form .gender_details .gender_title {
  font-size: 20px;
  font-weight: 500;
}
.form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}
.form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.form .button {
  height: 45px;
  margin: 35px 0;
}
.form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.form .button input:hover {
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}
.authButton {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  height: 45px;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }
  .form .user_details .input_box {
    margin-bottom: 15px;
    width: 100%;
  }
  .form .category {
    width: 100%;
  }
  .content form .user_details {
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar {
    width: 5px;
  }
}
@media (max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}
